.header {
  padding: 2em;;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 15px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: inline;
    background-color: yellow;
    padding: .5em;
    
}
nav li a{
    text-decoration: none;
    font-weight: bold;
    
}
nav{
   text-align: center;
    
}
footer {/*makes thee footer fixed to the bottom of page*/
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color:black;
	color: white;
	text-align:center;
    border-top: 5px solid black;
    padding-bottom: 10px;
}

.account{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: auto;
    padding: 2em;
    text-align: center;
}

h2 {
    text-align: center;
}
table{
    justify-self: center;
    margin: auto auto;
    border-top: 1px solid lightgrey
}

#products{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    padding-top: 2em;
    text-align: center;
    display: table;
    width: 100%;
}
body{
    padding-bottom: 5em;
    text-align: center;
}
#products td, th{
    padding: 1em;
}
td img{
    padding-top: 1em;
}
.Filter{
    display: flex;
    justify-content: center;
}
.Gender{
    padding-right: .5em;
}
.Size{
    padding-left: .5em;
}